.properties {
    border-collapse: collapse;
    border-color: dimgrey;
}

.properties td, .properties th {
    margin: 0;
    padding: 3px;
    border: 1px solid;
}

.properties col.value {
    width: 500px;
}

.properties th.header {
    text-align: center;
    font-size: 18px;
}

.properties td.empty {
    background-color: #FFFAF0;
}

.properties tbody th {
    text-align: left;
}

.properties .sep {
    color: #B22222;
    margin-right: 2px;
    margin-left: 2px;
    font-size: 22px;
}

.properties .tag {
    display: block;
    float: left;
    font-size: 12px;
    margin: 1px;
    padding: 1px;
}

.properties .tag.type {
    background-color: #B0C4DE;
}

.properties .tag.required {
    background-color: #FF7F50;
}

.properties .tag.ignored {
    background-color: #6495ED;
}

.properties .tag.change {
    background-color: #9370DB;
}

.properties .tag.nullable {
    background-color: #83dbd7;
}

.properties .tag.default {
    background-color: #9ACD32;
}

.properties .constraint {
    color: darkslategrey;
    font-size: 12px;
}

.properties .tag.empty {
    background-color: transparent;
    color: gray;
    text-decoration: line-through;
    display:none;
}

.properties .description {
    font-size: 12px;
    color: gray;
}